body {
  font-family: monospace;
  color: #333;
  background-color: #fafafa;
  font-size: 112.5%;
}

.container {
  width: 600px;
}

.header {
  margin-top: 60px;
}

.header > a:link {
  text-decoration: none;
}
